/* Colors (desktop & mobile)*/
/* Fonts */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Cairo, Arial, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #3e4b58;
  box-sizing: border-box;
}
* h2 {
  color: #ff9800;
  text-align: center;
  font-size: 42px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #12161c;
}
* main {
  margin-left: 80px;
  margin-right: 80px;
}

.navBarLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 25vh;
  padding-bottom: 20px;
  background-color: #12161c;
  margin: 0px;
}
.navBarLeft .navIcons {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}
.navBarLeft .navIcons span {
  display: none;
}
.navBarLeft .navIcons ul {
  margin-top: 30%;
}
.navBarLeft ul {
  list-style-type: none;
}
.navBarLeft i {
  font-size: 35px;
  color: #00bcd4;
  text-shadow: 0px 0px 5px 5px #00bcd4;
}
.navBarLeft ul.navIcons, .navBarLeft i.fas, .navBarLeft a {
  background-color: #12161c;
}
.navBarLeft ul li a:hover {
  text-shadow: 0 0 10px #00bcd4;
}
.navBarLeft i:active {
  color: #ff9800;
}

.navBarRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 25vh;
  padding-bottom: 20px;
  background-color: #12161c;
  margin: 0px;
}
.navBarRight .contact {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}
.navBarRight .contact span {
  display: none;
}
.navBarRight .contact ul {
  margin-top: 30%;
}
.navBarRight ul {
  list-style-type: none;
}
.navBarRight i {
  font-size: 35px;
  color: #00bcd4;
}
.navBarRight ul.contact, .navBarRight i.fas, .navBarRight i.fab, .navBarRight a {
  background-color: #12161c;
}
.navBarRight ul li a:hover {
  text-shadow: 0 0 10px #00bcd4;
}
.navBarRight i:active {
  color: #ff9800;
}

.greetingMain {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  line-height: 60px;
}
.greetingMain .greetingBox {
  padding-bottom: 300px;
}
.greetingMain .greeting1 {
  color: ivory;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting2 {
  color: #ff9800;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting3 {
  color: ivory;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting4 a {
  font-size: 20px;
  color: #00bcd4;
  border-radius: 5px;
  margin-top: 20%;
  padding: 0px 5px 0px 5px;
  box-shadow: 0px 0px 5px 5px #00bcd4;
  transition: ease-in-out 0.4s;
}
.greetingMain .greeting4-text:hover {
  box-shadow: 0px 0px 5px 10px #00bcd4;
  text-shadow: 2px 2px 8px #00bcd4;
}

#profilePic {
  width: auto;
  height: 20vh;
  object-fit: cover;
  background-size: contain;
  border-radius: 5%;
  border: 1px solid #12161c;
  transition: ease-in-out 0.4s;
}
#profilePic:hover {
  box-shadow: 0px 0px 1px 3px #00bcd4;
}

.projectsTitle {
  padding-top: 5vh;
}

.projectsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.3rem;
  gap: 1.5rem;
  padding: 30px;
  margin-bottom: 50px;
}
.projectsContainer .projectCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  height: 40vh;
  max-width: 40vw;
  text-align: center;
  background-color: #d1d3d4;
}
.projectsContainer .projectCard li {
  min-width: 80vw;
}
.projectsContainer .projectCard img, .projectsContainer .projectCard h3, .projectsContainer .projectCard p {
  background-color: #d1d3d4;
}
.projectsContainer .projectCard img {
  width: auto;
  height: 60%;
  object-fit: cover;
  background-size: contain;
  border-radius: 5px;
  margin: 1vh 0;
}
.projectsContainer .projectCard h3 {
  margin-bottom: 2vh;
  font-size: 30px;
}

li.projectCard:hover {
  box-shadow: 5px 5px 10px 2px black;
  border: 1px solid #00bcd4;
  transition: ease 0.3s;
}

.skillsTitle {
  padding-top: 5vh;
}

.skillsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.3rem;
  gap: 1.5rem;
  padding: 30px;
  margin-bottom: 50px;
}
.skillsContainer .skillCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  height: 40vh;
  max-width: 40vw;
  text-align: center;
  background-color: #d1d3d4;
}
.skillsContainer .skillCard li {
  min-width: 80vw;
}
.skillsContainer .skillCard img, .skillsContainer .skillCard h3, .skillsContainer .skillCard p {
  background-color: #d1d3d4;
}
.skillsContainer .skillCard img {
  width: auto;
  height: 60%;
  object-fit: cover;
  background-size: contain;
  border-radius: 5px;
  margin: 1vh 0;
}
.skillsContainer .skillCard h3 {
  margin-bottom: 2vh;
  font-size: 30px;
}

li.skillCard:hover {
  box-shadow: 5px 5px 10px 2px black;
  border: 1px solid #00bcd4;
  transition: ease 0.3s;
}

.aboutMeTitle {
  padding-top: 5vh;
  margin-bottom: 4vh;
}

.aboutMe {
  height: 100vh;
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 30vh;
}
.aboutMe h4, .aboutMe h5, .aboutMe p {
  margin: 0vh 3vw 0vh 3vw;
  padding: 2vh 5vw;
  background-color: #d1d3d4;
}
.aboutMe h4 {
  font-size: 1.75rem;
}
.aboutMe h5 {
  font-size: 1.35rem;
}
.aboutMe p {
  font-size: 1.25rem;
}
.aboutMe .topSubtitle {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.aboutMe .lastPara {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d1d3d4;
}

::-webkit-scrollbar-thumb {
  background: #00bcd4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9800;
}