/* Colors (desktop & mobile)*/
/* Fonts */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Cairo, Arial, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #3e4b58;
}
* h2 {
  color: #ff9800;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #12161c;
}

span {
  display: none;
}

section {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.navBarRight li, .navBarLeft li {
  list-style-type: none;
}
.navBarRight .navIcons, .navBarRight .contact, .navBarLeft .navIcons, .navBarLeft .contact {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  height: 8vh;
  opacity: 0.97;
  background-color: #12161c;
}
.navBarRight .navIcons i.fas, .navBarRight .navIcons i.fab, .navBarRight .navIcons a, .navBarRight .contact i.fas, .navBarRight .contact i.fab, .navBarRight .contact a, .navBarLeft .navIcons i.fas, .navBarLeft .navIcons i.fab, .navBarLeft .navIcons a, .navBarLeft .contact i.fas, .navBarLeft .contact i.fab, .navBarLeft .contact a {
  background-color: #12161c;
}

.navIcons i, .contact i {
  font-size: 35px;
  color: #00bcd4;
}

.contact {
  top: 0;
}

.navIcons {
  bottom: 0;
}

.greetingMain {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  line-height: 45px;
}
.greetingMain .greetingBox {
  padding-bottom: 300px;
}
.greetingMain .greeting1 {
  color: ivory;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting2 {
  color: #ff9800;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting3 {
  color: ivory;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #12161c;
}
.greetingMain .greeting4 a {
  font-size: 20px;
  color: #00bcd4;
  border-radius: 5px;
  margin-top: 20%;
  padding: 0px 5px 0px 5px;
  box-shadow: 0px 0px 5px 5px #00bcd4;
}

#profilePic {
  width: auto;
  height: 20vh;
  object-fit: cover;
  background-size: contain;
  border-radius: 50%;
  border: 1px solid #12161c;
}

.projectsTitle {
  padding-top: 10vh;
}

.projectsContainer {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  gap: 1rem;
  padding: 30px;
  margin-bottom: 50px;
}
.projectsContainer .projectCard {
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  background-color: #d1d3d4;
}
.projectsContainer .projectCard li {
  min-width: 80vw;
}
.projectsContainer .projectCard img, .projectsContainer .projectCard h3, .projectsContainer .projectCard p {
  background-color: #d1d3d4;
}
.projectsContainer .projectCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
  border-radius: 5px;
  margin: 2vh 0;
}
.projectsContainer .projectCard h3 {
  margin-bottom: 1vh;
}

.skillsTitle {
  padding-top: 10vh;
}

.skillsContainer {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  gap: 1rem;
  padding: 30px;
  margin-bottom: 50px;
}
.skillsContainer .skillCard {
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  background-color: #d1d3d4;
}
.skillsContainer .skillCard li {
  min-width: 80vw;
}
.skillsContainer .skillCard img, .skillsContainer .skillCard h3, .skillsContainer .skillCard p {
  background-color: #d1d3d4;
}
.skillsContainer .skillCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
  border-radius: 5px;
  margin: 2vh 0;
}
.skillsContainer .skillCard h3 {
  margin-bottom: 1vh;
}

.aboutMeTitle {
  padding-top: 10vh;
  margin-bottom: 3.1vh;
}

.aboutMe {
  height: 100vh;
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 15vh;
}
.aboutMe h4, .aboutMe h5, .aboutMe p {
  margin: 0vh 3vw 0vh 3vw;
  padding: 1.5vh 3vw;
  background-color: #d1d3d4;
  font-size: 1.25rem;
}
.aboutMe .topSubtitle {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.aboutMe .lastPara {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 3vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d3d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00bcd4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9800;
}

@media only screen and (max-width: 600px) {
  .projectsContainer, .skillsContainer {
    font-size: 0.9rem;
  }

  .aboutMe p, .aboutMe h4, .aboutMe h5 {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
@media only screen and (max-width: 300px), (max-height: 600px) {
  .navIcons i, .contact i {
    font-size: 24px;
    color: #00bcd4;
  }
}